<!-- About Section -->
<section class="about" id="about">
    <div class="about-container">
        <div class="about-content">
            <div class="about-img">
                <img src="assets/Edwin Jas.jpg" alt="Edwin Darren H Profile">
            </div>
            <div class="about-text">
                <h2 class="section-title">About Me</h2>
                <p>I am an Informatics Engineering graduate from Institut Teknologi Sumatera (ITERA) with proven experience in project coordination, business process analysis, and data-driven problem solving. During my internship at Indonesia's Ministry of National Development Planning (Bappenas), I collaborated with cross-functional teams to support digital transformation initiatives through requirement analysis, project documentation, and system implementation.</p>
                <p>Beyond technical experience, my roles as a Teaching Assistant and active member of student organizations strengthened my leadership, communication, and teamwork skills. I am passionate about leveraging technology and analytical thinking to improve business processes, optimize operations, and deliver meaningful results in dynamic environments.</p>
            </div>
        </div>
    </div>
</section>
