<!-- About Section -->
<section class="about" id="about">
    <div class="about-container">
        <h2 class="section-title">About Me</h2>
        <div class="about-content">
            <div class="about-img">
                <img src="assets/Edwin PDH.jpg" alt="Edwin Darren H Profile">
            </div>
            <div class="about-text">
                <p>Saya adalah seorang mahasiswa Teknik Informatika yang tertarik dalam pengembangan perangkat lunak, pengembangan web, dan desain ui / ux. Saya bersemangat untuk terus belajar teknologi baru dan memecahkan masalah kompleks melalui solusi teknologi inovatif.</p>
                <p>Selain itu, saya aktif terlibat dalam organisasi kampus untuk meningkatkan kemampuan kepemimpinan dan komunikasi saya. Saya juga menyukai tantangan yang dapat mengasah keterampilan pemrograman dan berpikir kritis saya.</p>
            </div>
        </div>
    </div>
</section>
