<!-- About Section -->
<section class="about" id="about">
    <div class="about-container">
        <div class="about-content">
            <div class="about-img">
                <img src="assets/Edwin Jas.jpg" alt="Edwin Darren H Profile">
            </div>
            <div class="about-text">
                <h2 class="section-title">About Me</h2>
                <p>Saya adalah lulusan Teknik Informatika yang memiliki minat mendalam pada pengembangan perangkat lunak, arsitektur web modern, dan desain UI/UX. Saya bersemangat untuk terus mengeksplorasi teknologi baru dan memecahkan masalah kompleks melalui solusi digital yang inovatif dan terukur.</p>
                <p>Berbekal pengalaman dalam pengembangan <i>backend</i>, manajemen proyek, serta keaktifan berorganisasi semasa kuliah, saya telah terbiasa mengasah kemampuan komunikasi, kepemimpinan, dan pemikiran analitis.</p>
            </div>
        </div>
    </div>
</section>
