<!-- Contact Section -->
<section class="contact" id="contact">
    <h2>Contact Me</h2>
    <div class="contact-container">
        <form action="https://formsubmit.co/edwint1j@gmail.com" method="POST">
            <div class="form-group">
                <input type="text" name="name" placeholder="Your Name" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Your Email" required>
            </div>
            <div class="form-group">
                <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
            </div>
            <input type="hidden" name="_template" value="box">
            <button type="submit">Send Message</button>
        </form>
    </div>
    
    <!-- Footer Design -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2026 by Edwin Darren Hasannudin || All Rights Reserved.</p>
        </div>

        <div class="footer-iconTop">
            <a href="#"><i class="fa-solid fa-angle-up"></i></a>
        </div>
    </footer>
</section>
