<!-- Header Section -->
<header class="header">
    <a href="#" class="logo">Edwin.</a>

    <i class="fa-solid fa-bars" id="menu-icon"></i>

    <!-- Navigation Menu -->
    <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#portfolio">Project</a>
        <a href="#certificates">Certificate</a>
        <a href="#contact">Contact</a>
        <img src="assets/sun.png" id="icon">
    </nav>
</header>
