<!-- Home Section -->
<section class="home" id="home">
    <div class="home-content">
        <h1>Hi, I'm Edwin Darren H</h1> 
        <h3>Informatics Engineering Student</h3>
        <p>Saya berkuliah di <u>Institut Teknologi Sumatera</u> dan saat ini berada di semester 8. Selama perkuliahan, saya aktif mengikuti beberapa organisasi kampus serta kegiatan perkaderan untuk memperluas jaringan dan meningkatkan kemampuan komunikasi saya.</p>
        
        <!-- Call to Action Buttons -->
        <div class="btn-box">
            <a href="#contact">Hire Me</a>
            <a href="#contact">Let's Talk</a>
        </div>
        
        <!-- Social Media Links -->
        <div class="social-media">
            <a href="https://t.me/Edwin_Hasannudin"
            target="_blank"><i class='bx bxl-telegram'></i></a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=edwin.122140111@student.itera.ac.id"
            target="_blank"><i class='bx bxl-gmail'></i></a>
            <a href="https://tiktok.com/@edw.darren" target="_blank"><i class='bx bxl-tiktok'></i></a>
            <a href="https://github.com/edwindarrenhasannudin" target="_blank"><i class='bx bxl-github'></i></a>
            <a href="https://www.instagram.com/edw.darren" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://facebook.com/edwin.d.hasanudin" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.linkedin.com/in/edwin-darren-hasannudin-13b768324/" 
            target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://youtube.com/@edwindarren8409" target="_blank"><i class='bx bxl-youtube'></i></a>
            <a href="https://wa.me/6282162175970" 
            target="_blank"><i class='bx bxl-whatsapp'></i></a>
        </div>
        <a href="assets/EDWIN DARREN HASANNUDIN-resume.pdf" target="_blank" class="btn">Download CV</a>
    </div>
    <!-- Profile Image -->
    <div class="home-img">
        <img src="assets/Profil Edwin.jpg" alt="Edwin Darren H's Profile Picture">
    </div>
</section>
