<!-- Home Section -->
<section class="home" id="home">
    <div class="home-content">
        <h1>Hi, I'm Edwin Darren H</h1> 
        <h3>Fresh Graduate in Informatics Engineering</h3>
        <p>Informatics Engineering graduate with strengths in project coordination, business process analysis, and data analytics, supported by internship experience in digital transformation initiatives at Indonesia's Ministry of National Development Planning (Bappenas).</p>
        
        <!-- Call to Action Buttons -->
        <div class="btn-box">
            <a href="#contact">Hire Me</a>
            <a href="#contact">Let's Talk</a>
        </div>
        
        <!-- Social Media Links -->
        <div class="social-media">
            <a href="https://t.me/Edwin_Hasannudin"
            target="_blank"><i class='bx bxl-telegram'></i></a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hasannudinedwin256@gmail.com"
            target="_blank"><i class='bx bxl-gmail'></i></a>
            <a href="https://tiktok.com/@edw.darren" target="_blank"><i class='bx bxl-tiktok'></i></a>
            <a href="https://github.com/edwindarrenhasannudin" target="_blank"><i class='bx bxl-github'></i></a>
            <a href="https://www.instagram.com/edw.darren" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://facebook.com/edwin.d.hasanudin" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.linkedin.com/in/edwin-darren-hasannudin/" 
            target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://youtube.com/@Edwin_Darren" target="_blank"><i class='bx bxl-youtube'></i></a>
            <a href="https://wa.me/6282162175970" 
            target="_blank"><i class='bx bxl-whatsapp'></i></a>
        </div>
        <div class="home-document-links">
            <a href="assets/EDWIN DARREN HASANNUDIN-resume.pdf" target="_blank" rel="noopener noreferrer" class="btn">Download CV</a>
            <a href="assets/Portfolio Edwin Hasannudin.pdf" target="_blank" rel="noopener noreferrer" class="btn">My Portfolio</a>
        </div>
    </div>
    <!-- Profile Image -->
    <div class="home-img">
        <img src="assets/Profil Edwin.jpg" alt="Edwin Darren H's Profile Picture">
    </div>
</section>
