<!-- Portfolio Section -->
<section class="portfolio" id="portfolio">
    <h2>My Project</h2>
    <div class="project-widget-carousel">
        <button class="carousel-btn left" id="project-btn-left" aria-label="Sebelumnya">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <div class="project-track" id="project-track">
            <div class="project-card">
                <img src="assets/Al-Istiqomah.jpg" alt="Project 1">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">PHP</span>
                    </div>
                    <p>Membuat Sistem Informasi Website Yayasan MTs / MA Al-Istiqomah</p>
                    <a href="https://github.com/edwindarrenhasannudin/al-istiqomah" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Website Desa Girimulyo.png" alt="Project 2">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">JavaScript</span>
                    </div>
                    <p>Membuat Website Desa Girimulyo</p>
                    <a href="https://github.com/edwindarrenhasannudin/Desa-Girimulyo" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Sistem Pemesanan Makanan.png" alt="Project 3">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">JavaScript</span>
                    </div>
                    <p>Membuat Sistem Pemesanan Makanan pada mata kuliah Pemrograman Web</p>
                    <a href="https://github.com/edwindarrenhasannudin/Sistem-Pemesanan-Makanan" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card portfolio-item-1">
                <img src="assets/Desain Website Desa Girimulyo.png" alt="Project 4" style="margin-top: 40px;">
                <div class="portfolio-info-1">
                    <h3>UI / UX Design</h3>
                    <div class="project-tags">
                        <span class="tag figma">Figma</span>
                        <span class="tag design">UI/UX</span>
                    </div>
                    <p>Membuat Desain Website Desa Girimulyo</p>
                    <a href="https://www.figma.com/design/2ydMDm4QNJzqklgCUM39Ch/Desa-Girimulyo?node-id=0-1&t=a00i9NjSTjkzNqDW-1" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card portfolio-item-1">
                <img src="assets/Desain UI UX Aplikasi Patrolin.png" alt="Project 5">
                <div class="portfolio-info-1">
                    <h3>UI / UX Design</h3>
                    <div class="project-tags">
                        <span class="tag figma">Figma</span>
                        <span class="tag design">Mobile</span>
                    </div>
                    <p>Membuat Desain UI / UX Aplikasi Patrolin pada mata kuliah Interaksi Manusia dan Komputer</p>
                    <a href="https://www.figma.com/design/vvtCnRQkbf8Va54lxxrj2Y/IMK---PRATOLIN?node-id=9-2" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Tampilan UI UX di Mini Bootcamp.png" alt="Project 6">
                <div class="project-info">
                    <h3>UI / UX Design</h3>
                    <div class="project-tags">
                        <span class="tag figma">Figma</span>
                        <span class="tag design">UI/UX</span>
                    </div>
                    <p>Membuat Tampilan UI / UX di Mini Bootcamp 1.0 HMIF ITERA</p>
                    <a href="https://github.com/edwindarrenhasannudin/mini_project" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Website Branding Perusahaan.png" alt="Project 7">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">JavaScript</span>
                    </div>
                    <p>Membuat Website Branding Perusahaan pada mata kuliah Pemrograman Web</p>
                    <a href="https://github.com/edwindarrenhasannudin/Branding-Perusahaan" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Sistem Daftar Tugas Dinamis.png" alt="Project 8">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">JavaScript</span>
                    </div>
                    <p>Membuat Sistem Daftar Tugas Dinamis pada Praktikum Pemrograman Web</p>
                    <a href="https://github.com/edwindarrenhasannudin/Daftar-Tugas-Dinamis" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Sistem Kalkulator Nilai Mahasiswa.png" alt="Project 9">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">JavaScript</span>
                    </div>
                    <p>Membuat Sistem Kalkulator Nilai Mahasiswa pada Praktikum Pemrograman Web</p>
                    <a href="https://github.com/edwindarrenhasannudin/Kalkulator-Nilai-Mahasiswa" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Website Idola Saya.png" alt="Project 10">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">JavaScript</span>
                    </div>
                    <p>Membuat Website tentang "Idola Saya" pada mata kuliah Pemrograman Web</p>
                    <a href="https://github.com/edwindarrenhasannudin/Idola-Saya" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Tugas Website.png" alt="Project 11">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">JavaScript</span>
                    </div>
                    <p>Membuat Tugas Website pada Praktikum Pemrograman Web</p>
                    <a href="https://github.com/edwindarrenhasannudin/Tugas_Website" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Sistem Web Perpustakaan.png" alt="Project 12">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">PHP</span>
                    </div>
                    <p>Membuat Sistem Web Perpustakaan</p>
                    <a href="https://github.com/edwindarrenhasannudin/Web-Perpustakaan" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Website Berita.png" alt="Project 13">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">JavaScript</span>
                    </div>
                    <p>Membuat Sistem Web Berita</p>
                    <a href="https://github.com/edwindarrenhasannudin/Website-berita" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Nitro ITERA Racing.png" alt="Project 14">
                <div class="project-info">
                    <h3>Game Development</h3>
                    <div class="project-tags">
                        <span class="tag js">Java</span>
                        <span class="tag design">OOP</span>
                    </div>
                    <p>Membuat Sebuah Game "Nitro ITERA Racing" pada mata kuliah Pemrograman Berorientasi Objek</p>
                    <a href="https://github.com/edwindarrenhasannudin/Tugas_Website" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Sistem Pos Kasir Java Mart Girimulyo.png" alt="Project 15">
                <div class="project-info">
                    <h3>Web Development</h3>
                    <div class="project-tags">
                        <span class="tag html">HTML</span>
                        <span class="tag css">CSS</span>
                        <span class="tag js">PHP</span>
                    </div>
                    <p>Membuat Sistem Pos Kasir Java Mart Girimulyo</p>
                    <a href="https://github.com/edwindarrenhasannudin/PTI" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-card">
                <img src="assets/Kriptografi.png" alt="Project 16">
                <div class="project-info">
                    <h3>Cryptography</h3>
                    <div class="project-tags">
                        <span class="tag design">Encryption</span>
                        <span class="tag js">Java</span>
                    </div>
                    <p>Membuat Program Enkripsi dan Dekripsi</p>
                    <a href="https://github.com/edwindarrenhasannudin/Kriptografi" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <button class="carousel-btn right" id="project-btn-right" aria-label="Selanjutnya">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</section>
