<!-- Services Section -->
<section class="services" id="services">
    <h2>My Services</h2>
    <div class="service-container">
        <div class="service-box">
            <i class='bx bx-code'></i>
            <h3>Web Development</h3>
            <p>Building responsive and dynamic websites using the latest technologies to meet client needs.</p>
        </div>
        <div class="service-box">
            <i class='bx bx-palette'></i>
            <h3>UI / UX Design</h3>
            <p>Designing user interfaces and experiences to ensure intuitive, efficient and engaging interactions in the use of digital products.</p>
        </div>
        <div class="service-box">
            <i class='bx bx-mobile'></i>
            <h3>Mobile App Development</h3>
            <p>Developing user-friendly mobile applications with attractive designs and high performance.</p>
        </div>
    </div>
</section>
