<!-- Services Section -->
<section class="services" id="services">
    <h2>My Services</h2>
    <div class="service-container">
        <div class="service-box">
            <i class='bx bx-code'></i>
            <h3>Web Development</h3>
            <p>Membangun situs web responsif dan dinamis dengan teknologi terbaru sesuai kebutuhan klien.</p>
        </div>
        <div class="service-box">
            <i class='bx bx-palette'></i>
            <h3>UI / UX Design</h3>
            <p>Merancang antarmuka dan pengalaman pengguna untuk memastikan interaksi yang intuitif, efisien, dan menarik dalam penggunaan produk digital.</p>
        </div>
        <div class="service-box">
            <i class='bx bx-mobile'></i>
            <h3>Mobile App Development</h3>
            <p>Mengembangkan aplikasi mobile yang user-friendly dengan desain menarik dan performa tinggi.</p>
        </div>
    </div>
</section>
