/* ====== CONTACT & FOOTER SECTIONS ====== */

.contact {
  height: 100vh;
  padding: 80px 10%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input, 
.form-group textarea {
  width: 100%;
  padding: 15px;
  background: var(--fr-bf-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  font-size: 16px;
  resize: none;
}

button {
  background-color: var(--main-color);
  color: var(--bg-color);
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--main-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
}

.footer-iconTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem 1rem;
  background: var(--bg-color);
  border-radius: .8rem;
  transition: .5s ease; 
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 30%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--main-color);
}
