/* ====== HEADER & NAVIGATION ====== */

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.splash-logo {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  opacity: 0;
  animation: 
    scaleIn 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s forwards,
    pulse 0.5s ease-in-out 1s forwards;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: .4s;
}

.navbar a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  flex: 1;
  text-align: center;
}

.navbar a:hover, 
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

#icon {
  width: 30px;
  margin-left: 20px;
  cursor: pointer;
  vertical-align: middle; 
}
