/* ====== HOME SECTION ====== */

.home {
  height: 100vh;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 60px; 
}

.home-content h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 2s;
}

.home-content h3 {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  color: var(--main-color);
}

.home-content h3::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
  text-align: justify;
}

.home-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 2s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 8px;
  font-size: 19px;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover {
  color: var(--bg-color);
}

.btn-box a:nth-child(2) {
  background: var(--main-color);
  color: var(--bg-color);
}

.btn-box a:nth-child(2):hover {
  color: var(--main-color);
}

.btn-box a:nth-child(2)::before {
  background: var(--bg-color);
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.social-media { 
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-media::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.social-media a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.social-media a:hover {
  color: var(--bg-color);
}

.social-media a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.social-media a:hover::before {
  width: 100%;
}

.home-img img {
  width: 20vw;
  animation: floatImage 4s ease-in-out infinite;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 4px 15px rgba(0, 171, 240, 0.3);
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  margin-top: 90px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0, 171, 240, 0.5);
}
