/* ====== SERVICES SECTION ====== */

.services {
  height: 100vh;
  padding: 100px 10%;
  background-color: var(--thd-bf-color);
}

.services h2 {
  padding-bottom: 30px;
}

.service-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.service-box {
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  border: .2rem solid transparent;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.service-box i {
  font-size: 50px;
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.service-box h3 {
  margin: 10px 0;
  color: var(--text-color);
}

.service-box p {
  color: var(--snd-text-color);
}

.service-box:hover {
  border-color: var(--main-color);
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 171, 240, 0.2);
}

.service-box:hover i {
  transform: scale(1.1) rotate(5deg);
}
