/* ====== CSS VARIABLES & THEME ====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --bg-color: #081b29; 
  --snd-bf-color: #0b2b3a; 
  --thd-bf-color: #0e3b50;
  --fr-bf-color: #0f435a;  
  --text-color: #ededed; 
  --snd-text-color: #ccc; 
  --main-color: #00abf0; 
  --snd-main-color: rgba(0, 0, 0, 0.2);
  --thd-main-color: rgba(0, 0, 0, 0.4); 
  --fr-main-color: rgba(0, 0, 0, .2); 
  --fv-main-color: rgba(0, 0, 0, 2); 
  --primary-color: #edf2fc; 
  --secondary-color: #212121;  
}

.light-theme {
  --bg-color: #f0f8f0;
  --snd-bf-color: #e1f0e1;
  --thd-bf-color: #c8e6c9;
  --fr-bf-color: #a5d6a7;
  --text-color: #264d2c;
  --snd-text-color: #3e704c;
  --main-color: #009688;
  --snd-main-color: rgba(0, 128, 64, 0.2);
  --thd-main-color: rgba(0, 100, 50, 0.4);
  --fr-main-color: rgba(0, 150, 80, 0.3);
  --fv-main-color: rgba(0, 128, 0, 0.5);
  --primary-color: #ffffff;
  --secondary-color: #00732d;
}
